@import "./fonts.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 210 96% 34%;
    --card: 0 0% 100%;
    --card-foreground: 210 96% 34%;
    --popover: 0 0% 100%;
    --popover-foreground: 210 96% 34%;
    --primary: 210 96% 34%;
    --primary-foreground: 0 0% 100%;
    --secondary: 210 96% 95%;
    --secondary-foreground: 210 96% 34%;
    --muted: 210 96% 95%;
    --muted-foreground: 210 96% 60%;
    --accent: 210 96% 95%;
    --accent-foreground: 210 96% 34%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 96% 85%;
    --input: 210 96% 85%;
    --ring: 210 96% 34%;
    --radius: 0.5rem;
    --chart-1: 210 96% 34%;
    --chart-2: 210 96% 50%;
    --chart-3: 210 96% 65%;
    --chart-4: 210 96% 80%;
    --chart-5: 210 96% 95%;
  }

  .dark {
    --background: 210 96% 34%;
    --foreground: 0 0% 100%;
    --card: 210 96% 34%;
    --card-foreground: 0 0% 100%;
    --popover: 210 96% 34%;
    --popover-foreground: 0 0% 100%;
    --primary: 0 0% 100%;
    --primary-foreground: 210 96% 34%;
    --secondary: 210 96% 25%;
    --secondary-foreground: 0 0% 100%;
    --muted: 210 96% 25%;
    --muted-foreground: 210 96% 70%;
    --accent: 210 96% 25%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 100%;
    --border: 210 96% 25%;
    --input: 210 96% 25%;
    --ring: 0 0% 100%;
    --chart-1: 0 0% 100%;
    --chart-2: 210 96% 85%;
    --chart-3: 210 96% 70%;
    --chart-4: 210 96% 55%;
    --chart-5: 210 96% 40%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
